.first {
  width: 100vw;
  height: 700px;
  background-image: url("https://mblogthumb-phinf.pstatic.net/MjAyMzAxMDNfMjY0/MDAxNjcyNzM2MjMwNDY5.pR_r1QqQv4nVAVujLr1fSTjwT6bL_5XBC4cs88hAFL0g.aEUIrjIo1hamHtVR5dPx19hj06qpAWrnJqDMTQ2guZog.PNG.withwithpet/%EC%8A%A4%ED%81%AC%EB%A6%B0%EC%83%B7_2023-01-03_%EC%98%A4%ED%9B%84_5.55.02.png?type=w800");
  background-size: cover;
  background-position: center;
}
